*
{
    box-sizing: border-box;
}
  
body { font-family: sans-serif; }
  
.carousel 
{
    position: absolute;
    background: #EEE;
    width: 80%;
    height: 40vh;
    left: 10%;
    top: 14%;
}
  
.carousel-cell 
{
    width: 53%;
    height: inherit;
    text-align: center;
    position: inherit;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
}
  
/* cell number */
.carousel-cell:before 
{
    width: 66%;
    height: inherit;
    display: block;
    font-size: 80px;
    color: white;
}

.flickity-page-dots
{
    bottom: 10px;
}

/* dots are lines */
.flickity-page-dots .dot 
{
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
    background: #000;
    border: 2px solid white;
}