*
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
body { font-family: sans-serif; }
  
.gallery 
{
    position: absolute;
    background: #EEE;
    width: 80%;
    height: 40vh;
    left: 10%;
    top: 10%;
}
  
.gallery-cell 
{
    overflow: hidden;
    width: inherit;
    height: inherit;
    position: inherit;
    text-align: center;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
}
  
/* cell number */
.gallery-cell:before 
{
    width: inherit;
    height: inherit;
    display: block;
    font-size: 80px;
    color: white;
}

.flickity-page-dots
{
    bottom: 10px;
}

/* dots are lines */
.flickity-page-dots .dot 
{
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
    background: #000;
    border: 2px solid white;
}