body
{
    background-color:#424344;
}

/* Estilos Barras de navegacion*/
#footer
{
    bottom: 0;
}

#logo_home
{
    position: sticky;
    top: 0.5vw;
    left: 80vh;
    width: 100%;
    height: auto;
    max-width: 15%;
    max-height: 15%;
}

.nav_bar
{
    position: fixed;
    z-index: 1;
    width: 100%;
    overflow-x: hidden;
}

.nav_bar ul
{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#5f0c96;
}

.nav_bar ul li
{
    color:rgb(210, 205, 255);
    margin-top:2px;
    margin-left:2px;
    margin-right:2px;
    margin-bottom:2px;
}

.nav_bar li
{
    position:relative;
    /* left: 50px; linea a incluir si se desean poner botones en header ya que de no incluirse, se asolaparían con la sidebar*/
    float: left;
}

.nav_bar li a
{
    display: block;
    text-align: center;
    text-decoration:none;
    padding: 0.8vw;
    color: white;
    font-size: 1.5vw;
}

.nav_bar li a:hover
{
    color:#000;
    background-color: #ab37e0;
}

/* Estilo Formulario de contacto */

form
{
    list-style-type: none;
}

#formulario p
{
    color:white;
}

#formulario li
{
    margin: 10px;
    color: white;
}

#formulario label
{
    color: white;
    display: inline-block;
    text-align: right;
}

#formulario form
{
    position:absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}







