body
{
    background-color:#424344;
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
    font-family: 'Roboto Condensed', sans-serif;
}

/* Estilos Barras de navegacion*/


#footer
{
    bottom: 0;
}

#header
{
    top: 0;
}

#logo_home
{
    position: sticky;
    top: 0.5vw;
    left: 80vh;
    width: 100%;
    min-height: 15%;
    max-width: 15%;
    max-height: 15%;
}

.nav_bar
{
    position: fixed;
    z-index: 1;
    width: 100%;
    overflow-x: hidden;
}

.nav_bar ul
{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#5f0c96;
}

.nav_bar ul li
{
    color:rgb(210, 205, 255);
    margin-top:2px;
    margin-left:2px;
    margin-right:2px;
    margin-bottom:2px;
}

.nav_bar li
{
    position:relative;
    /* left: 50px; linea a incluir si se desean poner botones en header ya que de no incluirse, se asolaparían con la sidebar*/
    float: left;
}

.nav_bar li a
{
    display: block;
    text-align: center;
    text-decoration:none;
    padding: 0.5vw;
    color: white;
    font-size: 1.5vw;
}

.nav_bar li a:hover
{
    color:#000;
    background-color: #ab37e0;
}
