@import url(../carousel-global-settings.scss);
.carousel
{
    left: 10%;
    top: 10%;
}

p
{
    position: absolute;
    text-align: justify;
    color: #FFFFFF;
    width: 80%;
}

#title
{
    top: 55%;
    left: 10%;
    color: #FFFFFF;
}

#desc
{
    top: 60%;
    left: 10%;
    color: #FFFFFF;
}