
div
{
    position: absolute;
    left: 30%;
    right: 30%;
    top: 10%;
    table
    {
        width: 100%;
        max-height: 45%;
        position: absolute;

    }

}

#container-form
{
    position: absolute;
    top: 60%;
    left: 30%;
    right: 30%;
    input
    {
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        width: 75%;
        
    }

    .button
    {
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        width: 20%;
        height: 15%;
    }
}
