.formulario
{    
    position: absolute;
    top: 10%;
    left: 35%;
    width: 24.4%;
    padding: 10px;
    overflow: auto;
    color: white;
    background-color: #5f0c96;
    list-style: none;

    h4
    {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 5px;
    }

    input
    {
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    label
    {
        display: block;
        margin-left: 6px; 
    }

    .button
    {
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        float: right;
    }

    .sesion
    {
        width: 98%;
    }
}