.input {
	position: fixed;
	opacity: 0;
}

.label 
{
	position: absolute;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	&::before
	{
		position: fixed;
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.6);
		content: '';
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	}
	.burger
	{
		position: fixed;
		top: 1vw;
		left: 1em;
		z-index: 4;
		width: 1.5vw;
		height: 1.5vw;
		margin: 0;
		padding: 0;
		transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
		.bar 
		{
			top: 44%;
		}
		&::before
		{
			top: 0;
			transform-origin: top left;
		}
		&::after
		{
			bottom: 0;
			transform-origin: bottom left;
		}
		&::before, .bar, &::after
		{
			position: absolute;
			left: 0;
			display: block;
			width: 100%;
			height: 12%;
			background: white;
			content: '';
			transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
		}
	}
}

.input:focus + label .burger, label:hover .burger
{
	opacity: 0.85;
}

nav
{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 3;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
	transform: translate3d(0, 0, 0);
   /* material acceleration */
	transform: translateX(-100%);
	will-change: transform;
	transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	&::before
	{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		width: 25em;
		background: #d62956;
		content: '';
		transform: skewX(15deg) translateX(-100%);
		transform-origin: bottom left;
		will-change: transform;
		transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	}
	a
	{
		margin: 0.5em 0;
		padding: 0.2em 2em;
		font-size: 1.5vw;
		color: white;
		text-decoration: none;
		font-weight: 500;
		transform: translateX(-100%);
		transition: color 0.15s, transform 0.5s;
		transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
		&:nth-child(1)
		{
			transition-delay: 0s, 100ms;
		}
		&:nth-child(2)
		{
			transition-delay: 0s, 150ms;
		}
		&:nth-child(3)
		{
			transition-delay: 0s, 200ms;
		}
		&:nth-child(4)
		{
			transition-delay: 0s, 250ms;
		}
		&:nth-child(5)
		{
			transition-delay: 0s, 300ms;
		}
		&:nth-child(6)
		{
			transition-delay: 0s, 350ms;
		}
		&:hover, &:focus
		{
			color: black;
		}
	}
}

@media (min-width: 35vw)
{
	nav::before
	{
		width: 35vw;
	}
}

main
{
	overflow: hidden;
	.content
	{
		transform: translate3d(0, 0, 0);
		/* material acceleration */
		will-change: transform, filter;
		transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	}

	/*.button
	{
		padding: 5px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 5px;
		margin-right: 5px;
		float: right;
	}*/
}

[id="navcheck"]:checked + label::before { 
   opacity: 1;
	pointer-events: auto;
}
[id="navcheck"]:checked + label .burger::before, [id="navcheck"]:checked + label .burger::after {
	width: 141.42%;
}
[id="navcheck"]:checked + label .burger::before {
	transform: rotate(45deg) translateY(-50%);
}
[id="navcheck"]:checked + label .burger::after {
	transform: rotate(-45deg) translateY(50%);
}
[id="navcheck"]:checked + label .burger .bar {
	transform: scale(0.1);
}
[id="navcheck"]:checked ~ nav {
	transform: translateX(0);
}
[id="navcheck"]:checked ~ nav::before {
	transform: skewX(15deg) translateX(0);
}
[id="navcheck"]:checked ~ nav a {
	transform: translateX(0);
}
[id="navcheck"]:checked ~ main .content {
	transform: translateX(3em);
	transform-origin: left center;
	-webkit-filter: blur(2px);
	filter: blur(2px);
   /* quite laggy :S */
}
/* helper */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
