<form *ngIf="!getSesionIniciada()" (ngSubmit)="loginOnSubmit()" [formGroup]="formularioLogIn" class="formulario" name="login" autocomplete="off" novalidate>
    <h4 style="text-align: center;">Iniciar sesión</h4>

    <label for="email">Correo Electronico</label>
    <input type="email" formControlName="mail" id="email" class="sesion" placeholder="Correo Electronico" minlength="6" required>

    <label for="contraseña">Contraseña</label>
    <input type="password" formControlName="password" id="contraseña" class="sesion" placeholder="Contraseña" minlength="8" required>

    <button type="submit" name="inicio_sesion" class="button">Iniciar sesión</button>
    <!--<div *ngIf="loginsubmitted">
        <div *ngFor="let user of users">
            <div *ngIf="user.mail==l_correo.value">
                <p *ngIf="user.password==l_contrasena.value;else wPassword">Inicio de sesion exitoso</p>
                <ng-template #wPassword> Contraseña invalida</ng-template>
            </div>
        </div>
    </div>-->
</form>

<form *ngIf="!getSesionIniciada()" (ngSubmit)="registerOnSubmit()" [formGroup]="formularioRegister" class="formulario registrar" name="register" autocomplete="off" novalidate>
    <h4 style="text-align: center;">Registrarse</h4>
    
    <li>
        <input type="text" formControlName="name" placeholder="Nombre" required>
        <input type="text" formControlName="surname" placeholder="Apellidos" required>
    </li>

    <li>
        <input type="email" formControlName="mail" class="sesion" placeholder="Correo Electronico" minlength="6" required>
    </li>

    <!---<div *ngIf="mail.['minlength']">
        El correo debe contener 6 caracteres.
    </div>-->

    <input type="password" formControlName="password" class="sesion" placeholder="Contraseña" minlength="8" required>

    <!---<div *ngIf="r_contrasena.errors?.['minlength']">
        La contraeña debe contener 8 caracteres.
    </div>--->

    <li>
        <label for="fecha">Fecha de Nacimiento</label>
        <input type="date" formControlName="bdate" id="fecha" placeholder="Fecha de Nacimiento" max="2022-06-03" required>
        <button type="submit" name="registrarse" class="button">Registrarse</button>
    </li>
</form>