#header
{
    top: 0;
}

#footer
{
    bottom: 0;
}

#logo_home
{
    position: sticky;
    top: 0.5vw;
    left: 41%;
    width: 100%;
    min-height: 15%;
    max-width: 15%;
    max-height: 15%;
}

.nav_bar
{
    position: fixed;
    z-index: 1;
    width: 102%;
    overflow-x: hidden;
    margin-left: -1%;
    
    ul
    {
        list-style-type:none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:#5f0c96;
        
        li
        {
            color:rgb(210, 205, 255);
            margin-top:2px;
            margin-left:2px;
            margin-right:2px;
            margin-bottom:2px;
        }
    }
    
    li
    {
        position:relative;
        /* left: 50px; linea a incluir si se desean poner botones en header ya que de no incluirse, se asolaparían con la sidebar*/
        float: left;

        a
        {
            display: block;
            text-align: center;
            text-decoration:none;
            padding: 0.6vw;
            color: white;
            font-size: 1.5vw;
            &:hover
            {
                color:#000;
                background-color: #ab37e0;
            }
        }
    }
}
