/* You can add global styles to this file, and also import other style files */
html
{
    background-color: #282c34;
    color: #FFFFFF;
}

p
{
    color: #FFFFFF;
}

*
{
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
    font-family: 'Roboto Condensed', sans-serif;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
